/* You can add global styles to this file, and also import other style files */
/* owl.carousel.css */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0,0,0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel .owl-dot {
  display: inline-block;
  zoom: 1;
}

.owl-carousel .owl-dot span {
  width: 10px;
  height: 10px;
  background: #d6d6d6;
  display: block;
  margin: 5px 7px;
  border-radius: 50%;
}

.owl-carousel .owl-dot.active span,
.owl-carousel .owl-dot:hover span {
  background: #869791;
}

/* theme */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
}

.owl-theme .owl-nav .disabled {
  opacity: .5;
  cursor: default;
}

.owl-theme .owl-dots {
  text-align: center;
  margin-top: 15px;
}


@font-face {
  font-family: 'Montserrat-Medium';
  src: url('./assets/font-family/Montserrat-Medium.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
body {
  font-family: 'Montserrat-Medium';
}
